* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box--course {
    background-color: white;
    display: inline-block;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

.h1--box {
    text-indent: 20px;
    font-size: 1.5em;
    margin: 20px;
}

.p--box {
    text-indent: 40px;
    margin: 20px;
}